<div class="image_banner">
  <div class="container">
    <div class="row">
      <ul class="banners">
        <li class="left_banner">
          {{ section.settings.image1 | image_url: width: 1000 | image_tag }}
        </li>
        <li class="right_banner">
          {{ section.settings.image2 | image_url: width: 1000 | image_tag }}
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  img {
    max-width: 100%;
    height: auto;
  }
  .banners {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>

{% schema %}
{
  "name": "Add Banner",
  "settings": [
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color",
      "id": "spotlight_bg",
      "label": "Background",
      "default": "#2d2d2d"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "paddign",
      "min": 15,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Banner link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Add Banner",
      "blocks": [
        {
          "type": "Image"
        }
      ]
    }
  ]
}
{% endschema %}
