<div class="image_banner">
  <div class="container">
    <div class="row">
      <div class="banners">
        <div class="left_banner">Left</div>
        <div class="right_banner">Right</div>
      </div>
    </div>
  </div>
</div>

<style>
  img {
    max-width: 100%;
    height: auto;
  }
  .banners {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>

{% schema %}
{
  "name": "Image Banner",
  "settings": [
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color",
      "id": "spotlight_bg",
      "label": "Background",
      "default": "#2d2d2d"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "paddign",
      "min": 15,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding",
      "default": 50
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Image Banner"
    }
  ]
}
{% endschema %}
