<div>Mamun</div>
{% schema %}
{
  "name": "Spotlight With Text",
  "settings": [
    {
      "type": "header",
      "content": "Style"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "image",
      "settings": []
    }
  ],
  "presets": [
    {
      "name": "Spotlight Image",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
