<div>Mamun</div>
{% schema %}
{
  "name": "Spotlight With Text",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-product.settings.controll"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.content"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.spotlight_spotlight_with_text.blocks.image.image",
      "settings": []
    }
  ],
  "presets": [
    {
      "name": "t:sections.spotlight_spotlight_with_text.presets.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
